* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 :root {
    --primary-color: #854220;
    --button-text-color: #ffffff;
    --header-text: #adadad;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    max-width: 90%;
    margin: auto;
}


/* * header */

.hero-content {
    display: flex;
    margin: auto;
    max-width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.main-text {
    flex: 50%;
    margin: 7rem 0;
    padding: 1rem;
}

.main-text h1 {
    font-size: 4rem;
    color: #444444;
    line-height: 60px;
    text-align: left;
}

.main-text p {
    color: #6b6b6b;
    font-size: 1.9rem;
}

.main-text .text-small{
    font-size:20px;
    margin-top: 25px;
    width: 70%;
}

.model-1 {
    flex: 50%;
    margin: 4rem 0;
}

.model-1 img {
    width: 100%;
    /* height: 100%; */
    height: auto;
    max-width: 700px;
}

.model-sm img {
    width: 100%;
    /* height: 100%; */
    height: auto;
    max-width: 500px;
    margin-top: 4rem;
}

.hero-img-bg{
    position: relative;
    background: rgb(37, 37, 37);
    width: 80%;
    height: 90%;
    border-radius: 100%;
    margin-top: 10px;
}

.btn-download-resume, .btn-hire-me, .btn-view-projects, .btn-view-blogs, .btn-view-blog{
    background-color: transparent;
    border: 1px solid #282828;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 0px #aaa;
    margin-top: 1rem;
    color: #444444;
    cursor: pointer;
    margin-right: 1rem;
}

.btn-download-resume:hover, .btn-hire-me:hover, .btn-view-projects:hover, .btn-view-blogs:hover, .btn-view-blog:hover{
    background-color: #44444420;
}

.btn-view-blog{
    border: 1px solid #282828;
}


/* * about-me */

.about-me {
    display: flex;
    margin: auto;
    max-width: 70%;
    border-radius: 5px;
    /* margin-top: 4rem; */
    margin-bottom: 1rem;
    border: 1px solid #282828;
    box-shadow: 2px 2px 0px #aaa;
}

.about-me-text {
    flex: 50%;
    /* padding: 3rem; */
    margin: auto;
    max-width: 70%;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 2rem;
    /* padding: 2rem; */
}

.about-me-text p, ul>li {
    font-size: 1.1rem;
    color: #444444;
    line-height: 1.3rem;
    /* margin: 0rem 0rem 0.625rem 0rem; */
}

.about-me-text h1, h3 {
    /* font-size: 2rem; */
    color: #6b6b6b;
    /* margin: 0rem 0rem 0.625rem 0rem; */
}

.about-me h3 {
    margin-top: 1rem;
}

.about-me li {
    line-height: 1.5rem;
}

.model-2 {
    flex: 50%;
    margin: 4rem 0;
}

.model-2 img {
    width: 100%;
    /* height: 100%; */
    height: auto;
    max-width: 700px;
}


/* * projects */

.projects {
    margin: auto;
    max-width: 70%;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 2rem;
    /* border: 1px solid var(--primary-color); */
    border: 1px solid #282828;
    box-shadow: 2px 2px 0px #aaa;
    border-radius: 5px;
    padding: 2rem;
}

.projects h2 {
    margin: 0.5rem;
    color: #6b6b6b;
}

.projects p {
    line-height: 1.5rem;
    color: #444444;
    /* margin-bottom: 2rem; */
}

.projects a {
    margin-top: 1.5rem;
    margin-right: 1rem;
    display: inline-block;
}


/* * blogs*/

.blogs {
    margin: auto;
    max-width: 70%;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 2rem;
    /* border: 1px solid var(--primary-color); */
    border: 1px solid #282828;
    border-radius: 5px;
    box-shadow: 2px 2px 0px #aaa;
    padding: 2rem;
}

.blogs h2 {
    margin: 1.5rem;
    color: #6b6b6b;
}

.blogs p {
    line-height: 1.5rem;
    color: #444444;
}

.blogs a {
    display: inline-block;
    margin-top: 1.5rem;
}


/* * footer  */

footer i {
    color: white;
    font-size: 30px;
    margin: 1rem;
}

footer p {
    color: #494949;
}

footer span {
    font-weight: bolder;
}


.projects-img {
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* margin: auto;*/
}



/* ******************************************************** */


@media screen and (max-width: 800px) {

    .about-me {
        display: block;
        margin-top: 0;
        margin-bottom: 0;
        
    }
    .about-me-text {
        padding: 0;
    }
    .about-me-text p {
        font-size: 1.1rem;
        color: #1c3548;
        line-height: 1.3rem;
    }
    .about-me-text h1 {
        font-size: 2rem;
        color: #1c3548;
    }
    .about-me li {
        line-height: 1.5rem;
    }
    .about-me h3 {
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 400px) {
    body {
      background-color: #fdf7f4;
    }

    .projects h2{
        font-size: 1rem;
    }

    .main-text{
        margin: 1rem 0;
        
    }

    .main-text h1 {
        font-size: 1rem;
        line-height: 20px;
        text-align:left;
    }

    .main-text p{
        font-size: 1rem;
    }

    .model-sm img{
        width: 100%;
        /* height: 100%; */
        height: auto;
        margin-top: 1rem;
    }

  }


